 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    }
    
    img {
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    }
    
    body {
    height: 100vh;
    background: linear-gradient(#000000 50%, #6277fe 50%);
    }
    
    .container {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #201f28;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0,0,0,0.2);
    }
    
    .search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
    }
    
    .search-container input,
    .search-container button {
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
    }
    
    .search-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    padding: 0.7em;
    color: #ffffff;
    }
    
    .search-container input:focus {
    border-color: #ffffff;
    }
    
    .search-container button {
    background-color: #6b7efd;
    border: none;
    cursor: pointer;
    }

    p, h2 {
    color:#ffffff;
    padding-bottom: 2%;
    } */
 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    background-color: #0a0130;
    overflow: hidden;
}

.container {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #201f28;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0,0,0,0.2);
}

    .tarefas{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% ;
        padding: 1rem;
        gap: 5%;
    }

    img.foto {
    max-width: 100%;
    /* padding-top: 5%;
    padding-bottom: 5%; */
} 

.titulo-principal {
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
    color: #f8ffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.card-series {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #070014;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(161, 161, 161, 0.2);
}

.search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search-container input,
.search-container button {
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}

.search-container input:focus {
    border-color: #fff;
}

.search-container button {
    background-color: #5a49cc;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.search-container button:hover {
    background-color: transparent;
    color: #5249cc;
    border: 1px solid #5249cc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#result {
    color: #fff;
}

.botao-escolha {
    margin: 10px auto 0 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.container-opcoes {
    margin: 0 auto 0 0;
}

.container-opcoes select {
    background-color: transparent;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    border-radius: 10px;
    padding: 5px;
    width: 178px;
    height: 40px;
}

option {
    background-color: #070014;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    border-radius: 10px;
    padding: 5px;
    width: 178px;
    height: 80px;
}

.escolher {
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
    padding: 0px 10px;
    background-color: #ab49cc;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    width: 150px;
    height: 40px;
}

.escolher:hover {
    background-color: transparent;
    color: #ab49cc;
    border: 1px solid #ab49cc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* .info {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 1.2em;
} */

.poster {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-top: 5%;
    margin-bottom: 2%;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6em 0 0.9em 0;
}

.rating img {
    width: 1.2em;
}

.rating h4 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details {
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6em 0;
    font-weight: 300;
}

.genre {
    display: flex;
    justify-content: space-around;
}

.genre div {
    border: 1px solid #ab49cc;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

h3 {
    color: #ffffff;
    font-weight: 500;
    margin-top: 1.2em;
}

p {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

.msg {
    text-align: center;
}

.tables {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #202020;
    padding: 8px;
    text-align: left;
    color: #ffffff;
}

th {
    background-color: #ab49cc;
}

tr {
    background-color: #8300af;
}

.titulo-tabela {
    color: white;
    border: 2px solid #000000;
    background-color: #7b02a3;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}