@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    background-color: #0a0130;
    overflow: hidden;
}

.container {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #201f28;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.tarefas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 5%;
}

img.foto {
    max-width: 100%;
    padding-top: 5%;
}

.search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search-container input,
.search-container button {
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}

.search-container input:focus {
    border-color: #fff;
}

.search-container button {
    background-color: #5a49cc;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.search-container button:hover {
    background-color: transparent;
    color: #5249cc;
    border: 1px solid #5249cc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#result {
    color: #fff;
}

h2 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-top: 5%;
    margin-bottom: 2%;
}

p {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

#btnMinhaLista {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #5249cc;
    padding: 5px 10px;
}

@media (max-width: 470px) {
    .search-container {
        grid-template-rows: 1fr;
    }

    .search-container input,
    .search-container button {
        width: 100%;
    }

    .search-container button {
        height: 40px;
    }
}

@media (max-width: 390px) {
    .search-container {
        grid-template-columns: 1fr;
    }

    .search-container input,
    .search-container button {
        width: 100%;
    }

    .search-container button {
        height: 40px;
    }
}

@media (max-width: 470px) {
    .container {
        width: 95vw;
        max-width: none;
        padding: 2em 1em;
        border-radius: 1em;
    }
}

@media (max-width: 380px) {
    .container {
        width: 95vw;
        max-width: none;
        padding: 2em 1em;
        border-radius: 1em;
    }
}